* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10 / 16 = 0,625 percentage of users browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: rgb(240, 242, 244);
}

/***************************** */
/* COLOR PALETTE */
/***************************** */
:root {
  --highlight-color: rgba(19, 33, 82);
  --main-text-color: #1c1c1b;
  --white-text-color: #ede7d9;
  --tint-color: #f2f6ff;
  --shade-color: #501111;
  --background-color: #f4f7ff;
  --ice-blue: #b0e0e6;
  --ice-blue--opaque: rgba(19, 33, 82, 0.801);
  --ice-blue--very-opaque: rgba(19, 33, 82, 0.101);
  --header-color: rgb(39, 73, 142);
  --header-height: 18.6rem;
}
/***************************** */
/* GENERAL COMPONENTS */
/***************************** */

.container {
  /* 1140px */
  max-width: 130rem;
  margin: 0 auto;

  padding: 0 3.2rem;
}

.logo {
  height: 100%;
  width: auto;
  padding: 5%;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(1, 1fr);
}

.main-header {
  font-size: 2.3rem;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 7rem;
  line-height: 1.4;
}

.secondary-header {
  font-size: 2.1rem;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 5rem;
}

.beer-header {
  font-size: 1.9rem;
  text-align: center;
  color: var(--main-text-color);
  margin: 2rem 0 0 0;
}

.sub-p {
  display: inline-block;
  margin-bottom: 1rem;
}

/***************************** */
/* HEADER */
/***************************** */

.background-image {
  position: absolute;
  height: 110vh;
  width: 100%;
  background-image: url(/images/lovnas-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    118,
    128,
    153,
    0.3
  ); /* blue grayish color with 50% opacity */
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: var(--header-height);
  padding: 0 4.8rem;
  background: linear-gradient(
    to bottom,
    rgba(19, 33, 82, 1),
    rgba(19, 33, 82, 0.99) 20%,
    rgba(19, 33, 82, 0.96) 30%,
    rgba(19, 33, 82, 0.9) 40%,
    rgba(19, 33, 82, 0.81) 50%,
    rgba(19, 33, 82, 0.68) 60%,
    rgba(19, 33, 82, 0.5) 70%,
    rgba(19, 33, 82, 0.29) 80%,
    rgba(19, 33, 82, 0.1) 90%,
    rgba(19, 33, 82, 0) 100%
  );
}

.header-logo {
  display: flex;
  align-items: flex-end;

  height: 19rem;
  padding: 3rem 0 8rem 15rem;
}

/***************************** */
/* NAVIGATION SECTION */
/***************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.8rem;
  align-items: center;
  padding: 0 12rem 8rem 0;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 0 1.2rem 0;
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.04rem;
  transition: background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: white;
  border-bottom: solid 0.3rem var(--main-text-color);
  margin-bottom: -0.3rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem 1.2rem 2.4rem;
  background-color: var(--tint-color);
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
}

.main-nav-link.nav-cta:hover {
  background-color: var(--tint-color);
  border-bottom: solid 0.3rem #333;
  margin-bottom: -0.3rem;
}

.main-nav-link.nav-cta:active {
  background-color: var(--tint-color);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  margin: 7rem;
}

.icon-mobile-nav {
  height: 7rem;
  width: 7rem;
  color: var(--white-text-color);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 1;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  /* margin-top: 9.6rem; */
}

/***************************** */
/* HERO SECTION */
/***************************** */

.section-hero {
  height: calc(
    110vh - var(--header-height)
  ); /* subtract the height of the header element */

  padding: 0 0 1.6rem 0;
  background-color: transparent;
  box-shadow: 0 4px 4px -4px rgb(0, 0, 0, 0.2);
  margin-bottom: 15rem;
}

.hero {
  position: relative; /* ensure that child element is positioned relative to this element */

  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 3.2rem;

  display: flex;
}

.hero-button-box {
  position: absolute;
  gap: 9.6rem;
  z-index: 2;
  /* margin: 45rem auto; */
  top: 50%;
  right: 7%;
}
.hero-buttons {
  display: flex;
  gap: 3rem;
}

.hero-buttons a {
  width: 25rem;
  height: 10rem;
  background-color: var(--ice-blue--very-opaque); /* var(--ice-blue--opaque); */

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  text-decoration: none;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  border: solid var(--main-text-color) 2px;

  transition: 0.3s;
}

.hero-buttons a:hover {
  background-color: var(--ice-blue);
  color: var(--main-text-color);
}

.hero-brand-box {
  position: relative;
  justify-self: center;
}

/***************************** */
/* ABOUT SECTION */
/***************************** */

.section-about {
  padding: 9.6rem 0;
  margin-bottom: 15rem;
}

.about-description {
  font-size: 1.8rem;
  color: var(--main-text-color);
  max-width: 75rem;
  margin: 0 auto;

  line-height: 1.4;
}

.about-box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}
.about-image-container {
  width: 30rem;
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.arrow-btn {
  margin: 3rem 1rem 1.5rem 15rem;
}
.arrow-btn a {
  margin-left: 1.5rem;
  text-decoration: none;
  font-style: italic;
  color: var(--highlight-color);
}

.arrow-btn a:hover {
  border-bottom: 0.2rem solid var(--ice-blue--opaque);
}

/***************************** */
/* OUR BEER SECTION */
/***************************** */
.section-our-beer {
  padding: 9.6rem 0;
  margin-bottom: 15rem;
  background-color: #fff;
}

.about-our-beer {
  font-size: 1.8rem;
  color: var(--main-text-color);
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;

  line-height: 1.4;
}
.beer-article-grid {
  padding: 10rem 25rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.beer-article-container {
  width: 30rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-container {
  width: 100%;
  height: 60%;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.beer-description {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 500;
  height: 5rem;
}
.order-link {
  font-size: 1.5rem;

  margin: 0 0 0 6rem;
}
.order-link a {
  margin-left: 1rem;
  text-decoration: none;
  text-decoration: none;
  font-style: italic;
  color: var(--highlight-color);
}

.order-link a:hover {
  border-bottom: 0.2rem solid var(--ice-blue--opaque);
}

/***************************** */
/* TASTING SECTION */
/***************************** */
.section-tasting-about {
  margin-top: 12rem;
  margin-bottom: 20rem;
}

/***************************** */
/* CTA SECTION */
/***************************** */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  background-image: linear-gradient(
    to right,
    rgba(39, 73, 142, 0.185),
    #f2f6ff4f
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #47394b;
}

.cta .heading-secondary {
  color: #47394b;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: /* linear-gradient(
			to right,

			rgba(247, 228, 252, 0.52),
			rgb(39, 73, 142)
		), */ url(/images/lovnas-hero.jpg);
  filter: sepia(0.3) saturate(0.5) brightness(1.1);

  background-size: cover;
  background-position: center;
  margin-left: -5rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--background-color);
  border: solid 1px #555;
  border-radius: 9px;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.cta-form textarea {
  resize: none;
  vertical-align: top;
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #999;
  text-align: top;
}

.cta-form .inquiry-field {
  position: relative;
  grid-column: 1 / 3;
}

.cta-form .inquiry-field textarea {
  height: 9.4rem;
  resize: none;
}

.cta-form button {
  min-height: 150%;
  grid-column: 2 / 3;
  box-shadow: 0 0.1rem 0.5rem rgba(71, 57, 75, 0.3);
  background-color: var(--tint-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #555;
  border-radius: 100rem;
  transition: all 0.3s;
}

.cta-form button:hover,
.cta-form button:active {
  color: var(--white-text-color);
  background-color: var(--highlight-color);
}

.cta-form button {
  grid-column: 2 / 3;
  box-shadow: 0 0.1rem 0.5rem rgba(71, 57, 75, 0.3);
  background-color: var(--tint-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-icon {
  width: 2.4rem;
  height: 2.4rem;
  transform: translate(-5%, 5%) rotate(20deg);
}

.call-us-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Caveat";
  font-size: 4rem;
  font-weight: 600;
  color: #333;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translate(40%, -220%) rotate(-10deg);
  z-index: 1;
}

.call-us-number {
  color: #333;
  text-decoration: none;
}

.cta-form *:focus {
  outline: none;
  /*   outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.2rem var(--highlight-color);
}

/***************************** */
/* SHOPPEN SECTION */
/***************************** */
.section-folkolshop {
  margin-bottom: 40rem;
}
.header-eshop {
  padding-bottom: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-eshop-logo {
  height: 11rem;
  margin-top: 5rem;
}
.main-header.shoppen-header {
}
.section-folkolshop .beer-article-container {
  margin: 0 auto;
}
.section-folkolshop .text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.section-folkolshop .beer-description {
  font-size: 1.6rem;
  width: 125%;
  margin-bottom: 2rem;
  line-height: 1.4;
}
.section-folkolshop label {
  font-size: 1.6rem;
  font-weight: 500;
}
.section-folkolshop .quantity-container {
  width: 80%;
  display: flex;
  gap: 0.5rem;
}
.section-folkolshop input {
  width: 30%;
  font-size: 2.2rem;
  text-align: center;
  background-color: white;
  border: 1px solid #555;
  padding: 0.5rem;
}
.remove-btn {
  border-top-left-radius: 100rem;
  border-bottom-left-radius: 100rem;
}
.quantity-container button {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #555;
}
.add-btn {
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
}
.quantity-container button:active,
.quantity-container button:hover {
  background-color: #eee;
}
.btn--shop {
  min-height: 15%;
  width: 60%;

  padding: 0.5rem;
  background-color: #b0e0e667;
  transition: all 0.3s;
  font-weight: 500;
  border: 1px solid #555;
  border-radius: 100rem;
  margin-top: 2rem;
}
.btn--shop:hover {
  background-color: var(--highlight-color);
  color: var(--white-text-color);
}

/***************************** */
/* FOOTER SECTION */
/***************************** */

.section-white-label {
  margin-bottom: 20rem;
}
.about-description.white-label-description {
  width: 60%;
}

.img-text {
  display: inline-block;
  margin-top: 0.5rem;
  max-width: 120%;
  font-size: 1.2rem;
}

/***************************** */
/* FOOTER SECTION */
/***************************** */

.section-footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.footer-logo {
  display: block;
  height: 13rem;
  padding: 1.2rem 0 1.2rem 0;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link a:link,
.footer-link a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: color 0.3s;
}

.footer-link a:hover,
.footer-link a:active {
  color: #555;
  border-bottom: solid 0.3rem #da77f2;
  margin-bottom: -0.3rem;
}
